body
{
	background: #EEE;
	width: 100%;
	height: 100%;
	background-image: url("tex2res4.png");
	overflow: hidden;
    margin:0px;
    -webkit-transition: all 4s ease-in-out;
	-moz-transition: all 4s ease-in-out;
	-o-transition: all 4s ease-in-out;
	transition: all 4s ease-in-out;
	-webkit-transition: background 4s ease-in-out;
	-moz-transition: background 4s ease-in-out;
	-o-transition: background 4s ease-in-out;
	transition: background 4s ease-in-out;
    color: #4c4c4c;
    background-color: rgba(5, 3, 1, 0.5); 
    background-blend-mode: multiply;
}

html, body {
  overflow:hidden;
}

.blurred
{
	-webkit-filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

#Tint
{
	background: rgb(29, 17, 9, 0.0);
	width: 100%;
	height: 100%;
	-webkit-transition: all 4s ease-in-out;
	-moz-transition: all 4s ease-in-out;
	-o-transition: all 4s ease-in-out;
	transition: all 4s ease-in-out;
}

*
{
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.ui-draggable-dragging
{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.ui-state-active, .ui-droppable-active
{
	background: rgba(123,123,123,0.3);
}

.ui-state-hover, .ui-droppable-hover
{
	background: rgba(150,150,159,0.3);
}

.action.box #Amru {
    right: 5%;
    top: 5%;
}

#Announce {
    font-size: 3em;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    opacity: 0.0;
    color: #f01255;
}

#Inventory {
    position: absolute;
    right: 2%;
    top: 1.4%;
    text-align: center;
}

.attribute{
    color: #99d0d0;
    font-family: Roboto;
}

.hidden
{
    display: none !important;
}

.levelup
{
    color: aqua;
    font-family: Roboto;
    font-size: 110%;
}

.skillpoint
{
    color: #44b7b7;
    font-family: Roboto;
    font-size: 80%;
}

#ActionContainers {
    /* float: right; */
    /* right: 30%; */
    /* position: absolute; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    /* align-content: center; */
    margin: 10px;
    /* left: 10%; */
    display: inline-block;
    /* position: absolute; */
    white-space: nowrap;
}

.box {
    border-radius: 22px;
    background: rgba(121, 121, 121, 0.04);
    padding: 10px;
    width: 150px;
    height: 135px;
    display: inline-block;
    margin: 20px;
    /* border: thin solid rgba(0, 0, 0, 0.06); */
    position: relative;
}

.action.box .content {
    height: 1px;
    width: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 50%;
    /* bottom: 40%; */
    /* left: 150px; */
    left: 30%;
}

.characterIcons {
    width: 100%;
    height: 80%;
    z-index: 0;
}

.action.box .header {
    width: 50%;
    text-align: center;
    /* font-weight: 100; */
}

.action.box .footer {
    /* bottom: 10%; */
    /* position: relative; */
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    position: relative;
    /* min-width: 10px; */
    /* min-height: 10px; */
    /* top: 80%; */
    display: inline-block;
}

.characterIcon:nth-child(4) {
    top: 50%;
    left: 60%;
}
.characterIcon:nth-child(3) {
    top: 60%;
}
.characterIcon:nth-child(2) {
    left: 60%;
}

.characterIcon:nth-child(5) {
    left: 46%;
    top: 36%;
}

.characterIcons #Amru {
    right: 5%;
}

.ally, .enemy {
    width: 7em;
    text-align: center;
    border: 6px solid #421f71;
    margin: 7px;
    background-color: #421f71a8;
}

.characterIcon {
    position: absolute;
    font-size: 2em;
    top: 22%;
    z-index: 1;
    left: 28%;
    /* right: 25%; */
    font-family: 'Amacita SC', cursive;
    color: #525252;
    display: inline-block;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
}

.button:hover
{
    color: #ffffff;
}

.vr, .hr
{
    background-color: rgba(0, 0, 0, 0.17);
    position: absolute;
}

.vr {
    height: 30%;
    width: 1px;
    top: 35%;
    left: 50%;
}

.hr
{
	height: 1px;
    width: 30%;
    top: 50%;
    left: 35%;
}

.zombie
{
    color: rgb(47, 47, 255);
}

.shake{
    animation: shake 0.75s; 
  /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#CharacterContainer
{
	position: absolute;
	font-family: "Alegreya Sans SC";
	right: 5%;
	top: 5%;
	/* font-size: 1.1em; */
	/* margin-left: 10px; */
	/* margin: 20px; */
	font-family: Arial;
	color: #b7b1b1;
	/*min-width: 250px;*/
	/* position: relative; */
    display: inline-block;
    direction: rtl;
    /*width: 200px;*/
}

#BattleContainer {
    font-family: Arial;
    font-size: 1em;
    color: #a5a5a5;
}

#BattlePrompts {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    margin-left: -50%;
}

.charStamina.shake.rage {
    background: black;
    color: red;
    font-weight: bold;
}

.battlePrompt
{
    -webkit-transition: all 0.0s ease-in-out;
    -moz-transition: all 0.0s ease-in-out;
    -o-transition: all 0.0s ease-in-out;
    transition: all 0.0s ease-in-out;
}

#BattleIndicator
{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #c1ae23;
    border-radius: 50%;
    -webkit-transition: all 0.0s ease-in-out;
    -moz-transition: all 0.0s ease-in-out;
    -o-transition: all 0.0s ease-in-out;
    transition: all 0.0s ease-in-out;
}

#BattleContainer .button {
    font-size: 1.2em;
    margin-right: 50px;
    background: #38404c;
    padding: 6px;
}

#BattleContainer .button:hover {
    background: #4b5565;
}

#BattleParties {
    width: 100%;
    /* position: absolute; */
    padding-top: 10%;
    height: 70%;
    margin: auto;
}

#BattleActions {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 20%; */
    padding-left: 25%;
}

#BattleTargets {
    padding-left: 25%;
    margin-top: 40px;
}

#Allies {
    /* width: 50%; */
    /* height: 100%; */
    /* position: absolute; */
    /* top: 20%; */
    /* left: 10%; */
    width: 25%;
    padding-left: 10%;
    float: left;
    height: 100%;
}

#Enemies {
    /* width: 50%; */
    /* position: absolute; */
    /* left: 50%; */
    /* top: 20%; */
    width: 25%;
    height: 100%;
    margin-left: 75%;
}

.charHealth
{
    background-color: #ec4242;
    width: 7em;
}

.charStamina
{
    background-color: #4ac342;
    width: 7em;
}

div .charAttribute:nth-of-type(1)
{
    margin-top: 10px;
}

.Avatar {
    width: 100%
}

#CharacterContainer .ally {
    width: 10em;
}

.character {
    /* margin-bottom: 1em; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    white-space: nowrap;
    /* height: 1.0em; */
}

.character .name {
	margin-right: 20px;
}

.charAttribute
{
    margin-bottom: 0.5em;
}

.character .action {
	float: right;
}

.character .effect {
    position: absolute;
    display: inline-block;
    left: 0%;
    text-align: center;
    width: 100%;
    padding: 3px;
    opacity: 0.0;
}

#EventContainer, #InventoryContainer
{
    position: absolute;
    /*top: 45%;*/
    left: 10%;
    right: 20%;
    font-family: Arial;
    font-size: 1.4em;
    color: #a5a5a5;
    /*opacity: 0.0;*/
    /* font-family: "Alegreya Sans SC"; */
    -webkit-transition: opacity 0.0s ease-in-out;
	-moz-transition: opacity 0.0s ease-in-out;
	-o-transition: opacity 0.0s ease-in-out;
    transition: opacity 0.0s ease-in-out;
    height: 100%;
}

#EventContent
{
    bottom: 50%;
    position: absolute;
}
#EventChoices
{
    top: 50%;
    position: absolute;
}

#EventChoices, #EventContent
{
    opacity: 0.0%;
}

#EventChoices, #InventoryList
{
	margin-top: 2em;
	max-width: 20em;
    width: 70%;
}

.event.choice, .inventory.listItem
{
    margin-top: 1.5em;
    margin-left: 1em;
    /*overflow: hidden;*/
    font-size: 0.75em;
    white-space: nowrap;
}

.inventory.listItem .button:hover, .inventory.listItem .button:active
{
	cursor: pointer;
	color: #d2d2d2;
	/* padding-left: 2em; */
	width: 32%;
	/* text-align: center; */
}

.inventory.listItem span {
    width: 33.3333%;
    display: inline-block;
}

.inventory.listItem .left {

}

.inventory.listItem .middle {
	text-align: center;
}

.inventory.listItem .right {
	text-align: right;
}


.button:hover
{
	cursor: pointer;
}

.event.choice:hover
{
	cursor: pointer;
	color: #888;
	padding-left: 0.2em;
}

.note {
	color: #16b134;
}

.note:nth-of-type(2) {
	color: #bf662a !important;
}

.note:nth-of-type(3) {
	color: #15afa2 !important;
}

.note:nth-of-type(4) {
	color: #8f10a0 !important;
}

.note:nth-of-type(5) {
	color: #bec03d !important;
}


@media screen and (max-height: 800px), screen and (max-width: 800px)
{	
	body 
	{
		font-size: 80%;
		overflow: hidden;
    }
    #CharacterContainer .ally
	{
		/* min-width: 130px; */
		width: 8em;
	}
	#GroupContainer
	{
		/* min-width: 130px; */
		min-width: 20%;
	}
	#ActionContainers .action.box
	{
		max-width: 22%;
		max-height: 25%;
		margin: 2px;
		padding: 4px;
	}
	#EventContainer, #InventoryContainer 
	{
        /* bottom: 10%; */
    }
    #EventContent 
	{
	    font-size: 70%;
    }
    
    .ally, .enemy {
        width: 5em;
        text-align: center;
        border: 5px solid #421f71;
        margin: 5px;
    }
}